version: '3.9'

services:
  mysql:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: app_restaurante
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build:
      context: ./app-restaurante
    depends_on:
      - mysql
    environment:
      DB_URL: jdbc:mysql://mysql:3306/app_restaurante?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      DB_USERNAME: app
      DB_PASSWORD: app
      CORS_ALLOWED_ORIGINS: http://localhost:4200
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend-angular
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  mysql-data:

