management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
  health:
    mail:
      enabled: false  

logging:
  level:
    root: WARN
    com.rds.app_restaurante: INFO
    org.springframework.security: WARN
    org.hibernate: WARN
    org.springframework.web: WARN

